{% extends 'base.html' %}
{% block title %}
이벤트 생성 삭제
{% endblock %}

{% block content %}
<body class = "text-center">
    <div class="container">
        <form method="POST" class="form-event" style="color:white">
            {{ form.hidden_tag() }}
            <img class="mb-4" src="https://res.cloudinary.com/jimshapedcoding/image/upload/v1597332609/android-icon-192x192_ove2a7.png" alt="">
            <h1 class="h3 mb-3 font-weight-normal">
                   이벤트를 생성해 주세요 
            </h1>
            <br>
            {{ form.date.label() }}
            {{ form.date(class="form-control", placeholder="날짜 (YYYY-MM-DD)") }}
            
            {{ form.name.label() }}
            {{ form.name(class="form-control", placeholder="이벤트 이름") }}

            {{ form.location.label() }}
            {{ form.location(class="form-control", placeholder="위치") }}

            {{ form.price.label() }}
            {{ form.price(class="form-control", placeholder="가격") }}

            {{ form.description.label() }}
            {{ form.description(class="form-control", placeholder="설명") }}
            <br>
            <div class="checkbox mb-3">     
            </div>
            {{ form.submit(class="btn btn-lg btn-block btn-primary")}}
        </form>
    </div>
</body>
{% endblock %}
