{% extends 'base.html' %}
{% block title %}
로그인 페이지 
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-signin" style="color:white">
            {{ form.hidden_tag() }}
            <img class="mb-4" src="{{ url_for('static', filename='my_image.png') }}" alt="" style="margin-top: 20px;"> <!-- 로컬 이미지 파일 경로 -->
            <h1 class="h3 mb-3 font-weight-normal">
                로그인을 해주세요 
            </h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="아이디 입력") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="비밀번호 입력") }}

            <br>


            <div class="checkbox mb-3">
               <h6>아이디가 없으신가요?</h6>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">회원가입</a>
            </div>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</body>

{% endblock %}
