{% extends 'base.html' %}
{% block title %}
회원가입 페이지
{% endblock %}

{% block content %}
<body class = "text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag()}}
            <img class="mb-4" src="{{ url_for('static', filename='my_image.png') }}" alt="" style="margin-top: 20px;"> <!-- 로컬 이미지 파일 경로 -->
            <h1 class="h3 mb-3 font-weight-normal">
                   계정을 생성해 주세요 
            </h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="아이디")}}
            
            {{ form.email_address.label() }}
            {{ form.email_address(class="form-control", placeholder="이메일 주소") }}

            {{ form.password1.label() }}
            {{ form.password1(class="form-control", placeholder="비밀번호") }}

            {{ form.password2.label() }}
            {{ form.password2(class="form-control", placeholder="비밀번호 확인") }}

            <br>
            <div class="checkbox mb-3">
                <h6>계정을 가지고 계신가요?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">로그인</a>
             </div>
            {{ form.submit(class="btn btn-lg btn-block btn-primary")}}
            
        </form>
    </div>
</body>
{% endblock %}
