<style>
    .modal-content {
      background-color: #212121
    }
</style>
  <div class="modal fade" id="Modal-CancelConfirm-{{ owned_event.id }}"
    tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="ModalLabel">
        {{ owned_event.name }}
      </h5>
    <button type="button" class="close"
            data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form method="POST" value="{{ owned_event.name }}" >
      <input type="hidden" name="cancel_item" value="{{ owned_event.name }}">
      {{ cancel_form.hidden_tag() }}
      <h4 class="text-center">
           {{ owned_event.name }} 이벤트 참석을 취소하시겠습니까?
      </h4>
      <h6 class="text-center">
          아래 버튼을 클릭하여 참석 취소
      </h6>
      <br>
      <button type="submit" class="btn btn-outline-danger btn-block">취소</button>
    </form>    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary"
            data-dismiss="modal">Close
    </button>
  </div>
</div>
</div>
</div>